{% extends 'base.html.twig' %}
{% block title %}Signup{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  </script>
{% endblock %}

{% block body %}
    <div class="container">
        <p>If you click on me, I will disappear.</p>
        <p>Click me away!</p>
        <p>Click me too!</p>
    </div>
    
{% endblock %}
{% block javascripts %}
    <script src="/build/new.js"></script>
 {% endblock %}